(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: Some(true),
    show_parameters_in_scopes: None,
    waves: Some((
        source: File("sim_build/vga_driver.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "vga_driver",
                "framebuffer",
                "line",
            ],
        ))),
        displayed_items_order: [
            (68),
            (2),
            (3),
            (10),
            (12),
            (4),
            (1),
            (21),
            (22),
            (9),
            (5),
            (6),
            (76),
            (77),
            (7),
            (11),
            (13),
            (19),
            (14),
            (20),
            (15),
            (16),
            (18),
            (58),
            (17),
            (25),
            (39),
            (26),
            (71),
            (34),
            (35),
            (36),
            (37),
            (38),
            (40),
            (64),
            (63),
            (78),
            (70),
            (69),
            (80),
            (81),
            (82),
            (83),
            (79),
            (67),
            (66),
            (65),
            (75),
            (72),
            (62),
        ],
        displayed_items: {
            (79): Divider((
                color: None,
                background_color: Some("Pink"),
                name: None,
            )),
            (62): Divider((
                color: None,
                background_color: None,
                name: None,
            )),
            (58): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "pixel_addr_gen",
                        ],
                    ),
                    name: "fb_pixel_addr",
                ),
                color: None,
                background_color: None,
                display_name: "fb_pixel_addr [16:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "timing",
                        ],
                    ),
                    name: "in_frame",
                ),
                color: None,
                background_color: None,
                display_name: "…timing.in_frame",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "control_unit",
                        ],
                    ),
                    name: "curr_state_1",
                ),
                color: None,
                background_color: None,
                display_name: "curr_state_1",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (25): Divider((
                color: Some("Pink"),
                background_color: Some("Pink"),
                name: Some("FRAME BUFFER"),
            )),
            (40): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "vga_addr",
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "vga_addr [16:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "pixel_addr_gen",
                        ],
                    ),
                    name: "v_cnt",
                ),
                color: None,
                background_color: None,
                display_name: "v_cnt [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (63): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "fb_valid",
                ),
                color: None,
                background_color: None,
                display_name: "fb_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                        ],
                    ),
                    name: "vga_vsync",
                ),
                color: None,
                background_color: None,
                display_name: "vga_vsync",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (36): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "ps_din",
                ),
                color: None,
                background_color: None,
                display_name: "ps_din [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (78): Divider((
                color: None,
                background_color: Some("Pink"),
                name: None,
            )),
            (34): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "pc_sck",
                ),
                color: None,
                background_color: None,
                display_name: "pc_sck",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                        ],
                    ),
                    name: "status",
                ),
                color: None,
                background_color: None,
                display_name: "…bridge.status [5:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "…framebuffer.clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (65): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "ps_done",
                ),
                color: None,
                background_color: None,
                display_name: "ps_done",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (64): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "lut_index",
                ),
                color: None,
                background_color: None,
                display_name: "lut_index [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (77): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "timing",
                        ],
                    ),
                    name: "v_cntr",
                ),
                color: None,
                background_color: None,
                display_name: "v_cntr [10:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "pixel_addr_gen",
                        ],
                    ),
                    name: "h_cnt",
                ),
                color: None,
                background_color: None,
                display_name: "h_cnt [8:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (68): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                        ],
                    ),
                    name: "CLK_100MHz",
                ),
                color: None,
                background_color: None,
                display_name: "vga_driver.CLK_100MHz",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (35): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "ps_ce_n",
                ),
                color: None,
                background_color: None,
                display_name: "ps_ce_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (82): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                            "line",
                        ],
                    ),
                    name: "we",
                ),
                color: None,
                background_color: None,
                display_name: "we",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "pixel_addr_gen",
                        ],
                    ),
                    name: "next",
                ),
                color: None,
                background_color: None,
                display_name: "next",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "control_unit",
                        ],
                    ),
                    name: "next_state_1",
                ),
                color: None,
                background_color: None,
                display_name: "next_state_1",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "pixel_addr_gen",
                        ],
                    ),
                    name: "in_frame",
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "…pixel_addr_gen.in_frame",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (39): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "reset_n",
                ),
                color: None,
                background_color: None,
                display_name: "reset_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (66): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "ps_start",
                ),
                color: None,
                background_color: None,
                display_name: "ps_start",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                        ],
                    ),
                    name: "vga_clk",
                ),
                color: None,
                background_color: None,
                display_name: "vga_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (83): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                            "line",
                        ],
                    ),
                    name: "wr_data",
                ),
                color: None,
                background_color: None,
                display_name: "wr_data [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (71): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "CLK_100MHz",
                ),
                color: None,
                background_color: None,
                display_name: "…framebuffer.CLK_100MHz",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (10): Divider((
                color: None,
                background_color: Some("Pink"),
                name: Some("STAT AND CTL"),
            )),
            (37): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "ps_dout",
                ),
                color: None,
                background_color: None,
                display_name: "ps_dout [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                        ],
                    ),
                    name: "controls",
                ),
                color: None,
                background_color: None,
                display_name: "controls [13:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (80): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                            "line",
                        ],
                    ),
                    name: "clk_write",
                ),
                color: None,
                background_color: None,
                display_name: "clk_write",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (76): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "timing",
                        ],
                    ),
                    name: "h_cntr",
                ),
                color: None,
                background_color: None,
                display_name: "h_cntr [10:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (75): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "ps_wr",
                ),
                color: None,
                background_color: None,
                display_name: "ps_wr",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                        ],
                    ),
                    name: "vga_reset_n",
                ),
                color: None,
                background_color: None,
                display_name: "vga_reset_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (70): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "lc_waddr",
                ),
                color: None,
                background_color: None,
                display_name: "lc_waddr [8:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "pixel_addr_gen",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "…pixel_addr_gen.clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (38): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "ps_douten",
                ),
                color: None,
                background_color: None,
                display_name: "ps_douten [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (81): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                            "line",
                        ],
                    ),
                    name: "wr_addr",
                ),
                color: None,
                background_color: None,
                display_name: "wr_addr [8:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (69): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "lc_we",
                ),
                color: None,
                background_color: None,
                display_name: "lc_we",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "pixel_addr_gen",
                        ],
                    ),
                    name: "pixel_addr",
                ),
                color: None,
                background_color: None,
                display_name: "pixel_addr [16:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (9): Divider((
                color: None,
                background_color: Some("Pink"),
                name: Some("VGA TIMING"),
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                        ],
                    ),
                    name: "status",
                ),
                color: None,
                background_color: None,
                display_name: "vga_driver.status [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
            (11): Divider((
                color: None,
                background_color: Some("Pink"),
                name: Some("PIXEL ADDR GEN"),
            )),
            (67): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "ps_addr",
                ),
                color: None,
                background_color: None,
                display_name: "ps_addr [23:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (72): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "framebuffer",
                        ],
                    ),
                    name: "ps_rdata",
                ),
                color: None,
                background_color: None,
                display_name: "ps_rdata [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                        ],
                    ),
                    name: "vga_hsync",
                ),
                color: None,
                background_color: None,
                display_name: "vga_hsync",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
        },
        display_item_ref_counter: 83,
        viewports: [
            (
                curr_left: (0.8753333332259214),
                curr_right: (1.0003333332259203),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1183907,
        ])),
        markers: {},
        focused_item: None,
        focused_transaction: (None, None),
        selected_items: [],
        default_variable_name_type: Unique,
        scroll_offset: 341.625,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: true,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: Some(1.0),
)