(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    waves: Some((
        source: File("sim_build/vga_driver.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "vga_driver",
                "bridge",
            ],
        ))),
        displayed_items_order: [
            (8),
            (5),
            (48),
            (49),
            (50),
            (52),
            (1),
            (2),
            (9),
            (10),
            (11),
            (13),
            (14),
            (18),
            (19),
            (21),
            (22),
            (15),
            (16),
            (17),
            (12),
            (20),
            (31),
            (28),
            (29),
            (24),
            (26),
            (25),
            (27),
            (3),
            (23),
            (36),
            (51),
            (46),
            (40),
            (39),
            (37),
            (38),
            (45),
            (42),
            (41),
            (44),
            (47),
        ],
        displayed_items: {
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_wlast",
                ),
                color: None,
                background_color: None,
                display_name: "s_axi_wlast",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (38): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                        ],
                    ),
                    name: "wr_fifo_data_o",
                ),
                color: None,
                background_color: None,
                display_name: "wr_fifo_data_o [27:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_awlen",
                ),
                color: None,
                background_color: None,
                display_name: "s_axi_awlen [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (31): Divider((
                color: None,
                background_color: Some("Red"),
                name: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "reset_n",
                ),
                color: None,
                background_color: None,
                display_name: "reset_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_bready",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "s_axi_bready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "axi_clk",
                ),
                color: None,
                background_color: None,
                display_name: "axi_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (48): Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 0,
            )),
            (42): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                        ],
                    ),
                    name: "wr_req",
                ),
                color: None,
                background_color: None,
                display_name: "wr_req",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "wr_addr_we",
                ),
                color: None,
                background_color: None,
                display_name: "wr_addr_we",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (39): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                        ],
                    ),
                    name: "wr_fifo_we",
                ),
                color: None,
                background_color: None,
                display_name: "wr_fifo_we",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (40): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                        ],
                    ),
                    name: "wr_fifo_valid_packet",
                ),
                color: None,
                background_color: None,
                display_name: "wr_fifo_valid_packet",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_wdata",
                ),
                color: None,
                background_color: None,
                display_name: "s_axi_wdata [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (41): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                        ],
                    ),
                    name: "wr_fifo_full",
                ),
                color: None,
                background_color: None,
                display_name: "wr_fifo_full",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "wr_ready_resp",
                ),
                color: None,
                background_color: None,
                display_name: "wr_ready_resp",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_awsize",
                ),
                color: None,
                background_color: None,
                display_name: "s_axi_awsize [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "wr_valid",
                ),
                color: None,
                background_color: None,
                display_name: "wr_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (47): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                        ],
                    ),
                    name: "wr_re",
                ),
                color: None,
                background_color: None,
                display_name: "wr_re",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "wr_data_we",
                ),
                color: None,
                background_color: None,
                display_name: "wr_data_we",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_awready",
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "s_axi_awready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_wvalid",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "s_axi_wvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "wdata_r",
                ),
                color: None,
                background_color: None,
                display_name: "wdata_r [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_awvalid",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "s_axi_awvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "wr_addr",
                ),
                color: None,
                background_color: None,
                display_name: "wr_addr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "NS",
                ),
                color: None,
                background_color: None,
                display_name: "NS [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_wstrb",
                ),
                color: None,
                background_color: None,
                display_name: "s_axi_wstrb [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (52): Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 3,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_awburst",
                ),
                color: None,
                background_color: None,
                display_name: "s_axi_awburst [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_bvalid",
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "s_axi_bvalid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_bresp",
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "s_axi_bresp [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (36): Divider((
                color: None,
                background_color: Some("Red"),
                name: None,
            )),
            (44): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                        ],
                    ),
                    name: "wr_fifo_empty",
                ),
                color: None,
                background_color: None,
                display_name: "wr_fifo_empty",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (51): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                        ],
                    ),
                    name: "vga_clk",
                ),
                color: None,
                background_color: None,
                display_name: "vga_clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (50): Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 2,
            )),
            (49): Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 1,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "PS",
                ),
                color: None,
                background_color: None,
                display_name: "PS [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "awaddr_r",
                ),
                color: None,
                background_color: None,
                display_name: "awaddr_r [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "wr_data",
                ),
                color: None,
                background_color: None,
                display_name: "wr_data [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (45): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                        ],
                    ),
                    name: "wr_fifo_re",
                ),
                color: None,
                background_color: None,
                display_name: "wr_fifo_re",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (46): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                        ],
                    ),
                    name: "axi_wr_recieved",
                ),
                color: None,
                background_color: None,
                display_name: "axi_wr_recieved",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (37): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                        ],
                    ),
                    name: "wr_fifo_data_i",
                ),
                color: None,
                background_color: None,
                display_name: "wr_fifo_data_i [27:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_awaddr",
                ),
                color: None,
                background_color: None,
                display_name: "s_axi_awaddr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "vga_driver",
                            "bridge",
                            "wr_chan",
                        ],
                    ),
                    name: "s_axi_wready",
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "s_axi_wready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
        },
        display_item_ref_counter: 52,
        viewports: [
            (
                curr_left: (0.4613333298861973),
                curr_right: (0.9613333298861986),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1590003,
        ])),
        markers: {
            1: (1, [
                390132,
            ]),
            2: (1, [
                481029,
            ]),
            3: (1, [
                1595003,
            ]),
            0: (1, [
                160000,
            ]),
        },
        focused_item: Some((5)),
        focused_transaction: (None, None),
        selected_items: [],
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((5)),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: Some(1.25),
)